.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}



.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-logo {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -3;
  opacity: .3;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;

}
